:global {
// Color variables (appears count calculates by raw css)
@color0: #ffffff; // Appears 3 times



.ant-layout-top {
  height: 100%;
  .ant-layout-wrapper {
    padding: 0 50px;
  }
  .ant-layout-header {
    background: @color0;
    height: 48px;
  }
  .ant-layout-logo {
    background: #aaaaaa;
    border-radius: 6px;
    float: left;
    height: 32px;
    margin: 16px 28px 16px 0;
    width: 96px;
  }
  .ant-layout-subheader {
    background: @color0;
    border-bottom: 1px solid #e9e9e9;
    height: 48px;
  }
  .ant-layout-breadcrumb {
    margin: 7px 0 -17px 24px;
  }
  .ant-layout-container {
    background: @color0;
    overflow: hidden;
    position: relative;
    width: 100%;
  }
  .ant-layout-footer {
    color: #999999;
    font-size: 12px;
    height: 64px;
    line-height: 64px;
    text-align: center;
  }
}
}
